.button {
  height: 25px;
  min-width: 20px;
  border-radius: 10px;
  margin: 0px 5px;
  padding: 0px 10px;
  font-weight: bold;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button.primary {
  background-color: #98b3b1;
}

.button.secondary {
  color: white;
  background-color: #000000;
}

.button.post-it-button {
  margin: 0;
}

.button.delete {
  background-color: #ff726f;
}

.modal-button {
  width: 25%;
}
