header {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
}

.add-and-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 40px;
  width: 40px;
}
