* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

.app {
  position: relative;
  min-width: 95vw;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #98b3b1;
}
